{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('message')  %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>

                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <a href="{{ path('article_view', {id: article.id }) }}">
                        <img src="{{ asset('uploads/images/articles/' ~ article.image ) }}" width="400px" height="200px">
                    </a>

                    <p>
                        {{ article.content }}
                    </p>

                    <small class="author">
                        {{ article.author.fullName }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()   ) %}
                            <a class="btn btn-success btn-xs" href="{{ path('article_edit', {id: article.id}) }}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {id: article.id}) }}">Delete</a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>

                {% if app.getUser() %}
                <br />
                <a class="btn btn-success btn-sm" id="add" >Add Comment</a>
                <div id="comment"></div>
                {% endif %}

                <br />
                <hr />


                {% for comment in comments %}
                    <p>{{ comment.content }}</p>

                   <br /> {{ comment.author.fullName }} | <a href="{{ path('user_message', {id: comment.author.id }) }}">
                       <img class="rounded-circle"
                            src="{{ asset('uploads/images/users/' ~ comment.author.image ) }}"
                            width="30px" height="10px"  />

                   </a><br />
                    <small>{{ comment.dateAdded|date("F jS \\a\\t g:ia") }}</small>
                    <hr />
                {% endfor %}


            </div>


        </div>
    </div>



    <script>
        $('#add').click(function () {
            $('#comment').empty();

            let commentForm =
                `
                <form method="post" action="{{ path('comment_create', {id: article.id}) }}">
                    <div class="form-group">
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content" name="comment[content]"></textarea>
                        <input type="submit" value="Add" class="btn btn-success btn-sm" />
                        </div>
                    </div>
                </form>
                `;

            $('#comment').append(commentForm);
            $('#comment').toggle();

        })

    </script>


{% endblock %}

